.custom-card {
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.062);
    font-family: Poppins;
}
.custom-card img {
    height: 220px;
}
.card-body{
    height: 240px;
}
.card-body p{
    font-size: 16px;
}
.card-body h6{
    color: #fff;
    font-size: 22px;
}
