.banner-text h1{
    font-size: 60px;
}
.banner-text p{
    font-size: 16px;
}
.why-choose-us{
    background-color: #fff;
    color: rgb(12, 8, 12);
    border-radius: 10px;
    padding: 15px;
}
.why-choose-us img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* background-color:rgb(221, 200, 223); */
}
.why-choose-us h4 {
    color: rgb(15, 0, 19);
}
.subscribe-part{
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.027);
}
.subscribe-input{
    background-color: rgba(217, 217, 238, 0.322);
    padding: 10px;
    border-radius: 40px;
    
}
.subscribe-input input{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    margin-left: 10px;
}
.subscribe-input input::placeholder{
    color: #fff;
}
.subscribe-input button{
    width: 150px;
    margin-left: 5px;
    padding: 10px;
    background: rgb(31,10,221);
    background: linear-gradient(90deg, rgba(31,10,221,1) 19%, rgba(72,66,217,1) 83%);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 20px;
}

@media (max-width: 425px) {
    .subscribe-input{
        padding: 5px;
        border-radius: 30px;
        font-size: 10px;
        
    }
    .subscribe-input input{
        margin-left: 5px;
    }
    .subscribe-input button{
        font-size: 10px;
        width: 90px;
        margin-left: 5px;
        padding: 5px;
        border-radius: 15px;
    }
}