.menu{
    padding: 10px; 
    margin: 10px; 
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(8, 2, 46, 0.493);
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}
.menu:hover{
    background-color: #fff;
    color: black;
}