.teacher-img{
    height: 120px;
    width: 120px; 
    border-radius: 50%;
}
.teacher-card{
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.062)
}